@tailwind base;
@tailwind components;
@tailwind utilities;

.builder h1 {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.builder h2 {
  font-size: 0.8rem;
  color: rgba(0,0,0,0.7);
}

.a4-div {
  width: 510px;
  height: calc(510px * 1.414);
}

.text-2xs {
  font-size: 0.6rem;
}

@media print {
  h1 {
    font-weight: 700;
    font-size: 1.05rem;
    color: rgba(0,0,0,0.8);
  }

  h2 {
    font-size: 0.85rem;
    color: rgba(0,0,0,0.7);
  }
}

@media print {
  html {
    font-size: 24px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .a4-div {
    width: 210mm;
    height: 297mm;
    box-shadow: none; /* Remove shadow for print */
  }

  body * {
    visibility: hidden; /* Hide everything */
  }

  .a4-div, .a4-div * {
    visibility: visible; /* Show the printable area */
  }

  .a4-div {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}
